<div class="container">
  <form [formGroup]="todoForm" (ngSubmit)="addTodo()">

    <div class="form-group">
      <h1 class="text-center text-primary">ToDo App</h1>
      <div class="input-group-prepend">
        <!--Two way data binding that sends to typescript, then back to html-->
        <input class="form-control" placeholder="Add Todo" name="todo" formControlName="todo">
        <span class="input-group-text" (click)="addTodo()"><i class="material-icons">add</i></span>
      </div>
    </div>
      <!--Display the typed message from user-->
  <div class="data">
    <ul class="list-unstyled">
      <li *ngFor="let todo of todoArray">{{todo}}<i class="material-icons" (click)="deleteItem(todo)">delete</i></li>
    </ul>
  </div>
  </form>

</div>